.cards {
    display: flex;
}

.coment {
    display: flex;
}

.item {
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: 286px;
}

.avatar .text {
    flex-direction: row;
}

.name .text {
    flex-direction: column;
}

.name {
    color: gray;
}

.avatar {
    width: 25%;
    max-width: 25%;
}
